<h4>About</h4>
<ul>
	<li><a href="/resume.html">Resume</a></li>
	<li></li>
</ul>

<h4>Projects</h4>
<ul>
	<li><a href='http://www.pictourist.com/'>PicTourist</a></li>
	<li><a href='http://pagestack.appspot.com/'>Page Stack</a></li>
	<li><a href='http://www.sharparchitecture.net/'>S#arp Architecture</a></li>
	<li><a href='http://openssl-net.sourceforge.net/'>OpenSSL.NET</a></li>
	<li><a href='http://stackoverflow.com/questions/217549/which-typesafe-enum-in-c-are-you-using'>BOOST_ENUM</a></li>
	<li></li>
</ul>
